<% layout("/layouts/boilerplate.ejs") %>


<div class="filters-wrapper position-relative">


        <%# category filter %>
        <div id="filters" class="d-flex flex-nowrap overflow-auto">

            <!-- LEFT ARROW -->
          <button class="scroll-btn left-btn">
            <i class="fa-solid fa-chevron-left"></i>
          </button>

            <a href="/listings" class="filter <%= !selectedCategory ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-border-all"></i>
              </div>
              <p>All</p>
            </a>


            <a href="/listings?category=trending" class="filter <%= selectedCategory === 'trending' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-fire"></i>
              </div>
              <p>Trending</p>
            </a>

            

            <a href="/listings?category=rooms" class="filter <%= selectedCategory === 'rooms' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-bed"></i>
              </div>
              <p>Rooms</p>
            </a>

            

            <a href="/listings?category=iconic-cities" class="filter <%= selectedCategory === 'iconic-cities' ? 'active' : '' %>">
            <div>
              <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
          </a>

        

          <a href="/listings?category=mountains" class="filter <%= selectedCategory === 'mountains' ? 'active' : '' %>">
            <div>
              <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountains</p>
          </a>


            <a href="/listings?category=castles" class="filter <%= selectedCategory === 'castles' ? 'active' : '' %>">
              <div>
                <i class="fa-brands fa-fort-awesome"></i>
              </div>
              <p>Castles</p>
            </a>

            

            <a href="/listings?category=pools" class="filter <%= selectedCategory === 'pools' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-person-swimming"></i>
              </div>
              <p>Pools</p>
            </a>

            

              <a href="/listings?category=camping" class="filter <%= selectedCategory === 'camping' ? 'active' : '' %>">
                <div>
                  <i class="fa-solid fa-campground"></i>
                </div>
                <p>Camping</p>
              </a>

              

            <a href="/listings?category=farms" class="filter <%= selectedCategory === 'farms' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-tractor"></i>
              </div>
              <p>Farms</p>
            </a>

            

            <a href="/listings?category=arctic" class="filter <%= selectedCategory === 'arctic' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-snowflake"></i>
              </div>
              <p>Arctic</p>
            </a>



            <a href="/listings?category=dome" class="filter <%= selectedCategory === 'dome' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-igloo"></i>
              </div>
              <p>Dome</p>
            </a>
      
            

            <a href="/listings?category=boats" class="filter <%= selectedCategory === 'boats' ? 'active' : '' %>">
              <div>
                <i class="fa-solid fa-ship"></i>
              </div>
              <p>Boats</p>
            </a>

            

            <a href="/listings?category=islands" class="filter <%= selectedCategory === 'islands' ? 'active' : '' %>">
            <div>
              <i class="fa-solid fa-umbrella-beach"></i>
            </div>
            <p>Islands</p>
            </a>

        </div>

        <!-- RIGHT ARROW -->
        <button class="scroll-btn right-btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
</div>

        <%# show all listings to index page %>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
          <% for (const listing of AllListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-links">
              <div class="card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing_image">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text ">
                    <b>
                      <%= listing.title %>
                    </b>
                    <br>
                    &#8377 <%= listing.price.toLocaleString("en-IN") %> / night
                    <i class="tax-info">  &nbsp; &nbsp; +18% GST </i>
                  </p>
                </div>
              </div>
            </a>
            <% } %>
        </div>

        <%# if listings not match to Search %> 
        <% if (AllListings.length == 0) { %>
          <div class="d-flex justify-content-center mt-5 align-items-center" >
                <div class="text-center">
                  <h4 class="text-muted">No listings found!</h4>
                  <p class="text-secondary">Try searching for a different location</p>
                </div>
          </div>
        <% } %>

<%# tax toggle switch backend %>
<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    // console.log(taxInfo);
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else  
      info.style.display = "none";
    }
  })
</script>
